* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #def3cf;

    .container {
        max-width: 1000px;
        background: #ddf6ca;

        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        .link {
            text-decoration: none;
            font-family: 'Inter', sans-serif;
            font-size: 30px;
            padding: 5px 40px;
            display: inline-block;
            border-radius: 30px;
            background-color: #e880d1;
            margin-bottom: 20px;
            transition: all .6s ease;
            color: yellow;

            &:hover {
                transition: all .6s ease;
                transform: scale(1.3);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.548);
            }

            @media (max-width: 360px) {
                font-size: 20px;
                padding: 8px 20px;
            }
        }

        .link.active {
            color: #e880d1;
            transition: all .6s ease;
            background: yellow;
        }
    }
}